In [7]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
#plt.style.use('seaborn')
import yfinance as yf
import requests
from bs4 import BeautifulSoup

In [8]:
tesla=yf.Ticker('TSLA')
#tesla_data=tesla.history(period="max")
tesla_data = yf.download("TSLA", start="2015-01-01", end="2024-12-31") 

tesla_data.reset_index(inplace=True)
tesla_data.head()

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,TSLA,TSLA,TSLA,TSLA,TSLA,TSLA
0,2015-01-02 00:00:00+00:00,14.620667,14.620667,14.883333,14.217333,14.858000,71466000
1,2015-01-05 00:00:00+00:00,14.006000,14.006000,14.433333,13.810667,14.303333,80527500
2,2015-01-06 00:00:00+00:00,14.085333,14.085333,14.280000,13.614000,14.004000,93928500
3,2015-01-07 00:00:00+00:00,14.063333,14.063333,14.318667,13.985333,14.223333,44526000
4,2015-01-08 00:00:00+00:00,14.041333,14.041333,14.253333,14.000667,14.187333,51637500

In [9]:
# using requests library to download the webpage
url='https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue'
html_data  = requests.get(url).text
# Save the text of the response

In [10]:
beautiful_soup=BeautifulSoup(html_data,"html5lib")

In [11]:
tables=beautiful_soup.find_all("table")
for index,table in enumerate(tables):
    if("Tesla Quarterly Revenue" in str(table)):
        table_index=index
tesla_revenue=pd.DataFrame(columns=["Date","Revenue"])

for row in tables[table_index].tbody.find_all('tr'):
    col=row.find_all("td")
    if(col!=[]):
        date=col[0].text
        revenue=col[1].text.strip().replace("$","").replace(",","")
        tesla_revenue=tesla_revenue.append({"Date":date,"Revenue":revenue},ignore_index=True)
tesla_revenue.head()

NameError: name 'table_index' is not defined